.home-header-top {
	background-color: #8e24aa;
	/*#f9c9cb*/
}

.home-header {
	margin-top: 40px;
}

.nav-wrapper a {
	margin-left: 40px;
}

.home-tab-wrapper {
	max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  margin-top: 40px;
}

#username-container {
	margin-top: 140px;
}

#choose-username {
	margin-top: 40px;
	width: 40%;
}

#choose-username input {
	font-size: 30px;
	margin-left: 310px;
}

.welcome-text {
	color: #8e24aa;
	font-weight: 300;
}

.tab-options {
	margin-top: 40px;
}

.tab-options-header {
	font-size: 20px;
}

.tabs {
	height: 60px;
}

.tabs .tab a {
	color: #8e24aa;
}

#channel {
	border-right: 2px solid #8e24aa;
}

.tabs .tab a:hover{
	color:#BC88CA
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #8e24aa;
    will-change: left, right; 
  }

.channel-table {
	margin-left: 40px;
	margin-top: 30px;
}

.message-table {
	margin-left: 40px;
	margin-top: 30px;
}

.channel-body-new {
	margin-top: 30px;
}

table {
	width: 95%;
}

table thead tr th {
	text-align: center;
}

table tbody tr td {
	text-align: center;
}